{% extends 'e_blankpage.html' %}
{% block body %}


<body>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Comments</h5>
                                <div class="card-body">
<div id="main">

   <div class="w3-content w3-display-container" >
{% for i in val %}
       <div class="d-flex flex-row comment-row">
                                    <div class="p-2"><span class="round"><img src="../static/bookpic/profile.jpg" alt="user" width="50"></span></div>
                                    <div class="comment-text w-100">
                                        <h5> {{i[6]}} {{i[7]}}</h5>
                                        <div class="comment-footer">
                                            <span class="date">{{i[2]}}</span>

                                        </div>
                                        <p class="m-b-5 m-t-10">{{i[3]}}</p>
                                    </div>
                                </div>
       <hr>
 {% endfor %}

                                            </div>
                                        </div>

    </div>

</div>
                                </div>

</body>
{% endblock %}