{% extends 'blankpage.html' %}
{% block body %}

<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card" style="width:900px;">
                                <h3 class="card-header">Report</h3>
                                <div class="card-body">
<form action="/report2" method="post" >
    <h4><div align="center">Total number of books : {{val12[0]}}</div></h4>
<table align="center" cellpadding="20px">
    <tr>
        <td>Starting date</td><td> <input type="date" name="d1" required  class="form-control" style="width:200px"> </td><td>Ending date</td> <td><input type="date" required name="d2" class="form-control" style="width:200px"></td><td><input type="submit" value="Submit" name="Submit" class="btn btn-primary"></td></tr>
</table>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card" style="width:840px;">
    <div align="center">
    <h4>Financial report</h4></div>
    <div align="center">

  <table class="table table-striped">
    <thead>
    <tr>
        <th><div align="center">Income</div></th>
        <th><div align="center">Expense</div></th>
        <th><div align="center">Profit</div></th>

      </tr>
    </thead>
    <tbody>



    <tr>
        <td><div align="center">{{val1}}</div> </td>
        <td><div align="center">{{val2}}</div></td>
        <td>&nbsp;<div align="center">{{val3}}</div></td>

      </tr>


    </tbody>
  </table>
    </div>
                            </div>
    </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card" style="width:840px;">
        <div align="center">
    <h4>Books report</h4></div>
    <div align="center">

  <table class="table table-striped" >
    <thead>
    <tr>
        <th><div align="center"> Number of arrival</div></th>
        <th><div align="center">Number of purchase</div></th>


      </tr>
    </thead>
    <tbody>



    <tr>
        <td><div align="center">{{val4}}</div> </td>
        <td><div align="center">{{val8}}</div></td>


      </tr>


    </tbody>
  </table>
    </div>
</div>
        </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card" style="width:840px;">
     <div align="center">
    <h4>Purchase report</h4></div>
    <div align="center">

  <table class="table table-striped" >
    <thead>
    <tr>
        <th><div align="center"> Number of order request</div></th>
        <th><div align="center">Number of accepted order</div></th>
        <th><div align="center">Number of cancelled order</div></th>


      </tr>
    </thead>
    <tbody>



    <tr>
        <td><div align="center">{{val9[0]}}</div> </td>
        <td><div align="center">{{val10[0]}}</div></td>
        <td><div align="center">{{val11[0]}}</div></td>


      </tr>


    </tbody>
  </table>
    </div>
                            </div>
    </div>
</form>
</div>
                            </div>
                        </div>

{% endblock %}
