{% extends 'e_blankpage.html' %}
{% block body %}

<body>
<form action="/updatebookcode" method="post" enctype="multipart/form-data" id="validationform">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header">Update book</h5>
                                <div class="card-body">
<table cellpadding="20px">
<tr>   <td>Title</td>
                                            <td>
                                                <input type="text" required  name="title" class="form-control" value="{{val[1]}}">
                                            </td>
                                        <td>Author</td>
                                            <td>
                                                <input type="text" name="author" required class="form-control" value="{{val[2]}}">
                                            </td></tr>
                                        <tr>
                                    <td>Publisher</td>
                                            <td>
                                                <input type="text" required name="publisher" class="form-control" value="{{val[3]}}">
                                            </td>
                                      <td>Publisher date</td>
                                            <td>
                                                <input type="date" required name="publisher_d" class="form-control" value="{{val[4]}}">
                                            </td>
                                        </tr>
    <tr>
<td>Genre</td>
                                            <td>
                                                <select required name="Genre" class="form-control" >

                                                    {% for i in val1 %}
                                                             <option value="{{i[0]}}" {% if id|string==i[0]|string %} selected {% endif %}>{{i[1]}}</option>
                                                    {% endfor %}

                                                </select>

                                            </td>

<td>Page number</td>
                                            <td>
                                                <input type="text" required name="page" class="form-control" value="{{val[7]}}">
                                            </td>
        </tr>
    <tr>
<td>Description</td>
                                            <td colspan="3" align="left">
                                                <textarea required name="description" class="form-control" style="width=400px;">{{val[6]}}

                                                </textarea>
                                                <!--<input type="text" required name="description" class="form-control" value="{{val[6]}}">-->
                                            </td>
    </tr>
    <tr>
<td>Price</td>
                                            <td>
                                                <input type="text" required name="price" class="form-control" value="{{val[8]}}">
                                            </td>
<td>ISBN</td>
                                            <td>
                                                <input type="text" required name="isbn" class="form-control" value="{{val[12]}}">
                                            </td></tr>
    <tr>
<td>Front cover page</td>
                                            <td>
                                                <input type="file"  name="pic1" id="pic1"  class="form-control" >{{val[9]}}
                                            </td>

<td>Back cover page</td>
                                            <td>
                                                <input type="file"  name="pic2" id="pic2"  class="form-control">{{val[10]}}
                                            </td>
                                        </tr>
    <tr>
<td>URL</td>
                                            <td colspan="3">
                                                <input type="text" required name="url" class="form-control" value="{{val[11]}}" style="width=400px;">
                                            </td>
    </tr>

<td colspan="4" align="center">
                                                <input type="submit" name="submit" value="Update" class="btn btn-space btn-primary">
</td>


</table>


                                </div>
                            </div>
    </div>
</form>
</body>
{% endblock %}
