{% extends 'blankpage.html' %}
{% block body %}

<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="card" style="width:900px;">
                                <h2 class="card-header">View expense</h2>
                                <div class="card-body">
<form action="" method="post" >

 
<div align="center">

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Sl No.</th>
        <th>Date</th>
        <th>Description</th>
        <th>&nbsp;Amount</th>
        <th></th>

      </tr>
    </thead>
    <tbody>

    {% for i in val %}

    <tr>
      <td>{{loop.index}}</td>
        <td>&nbsp;{{i[4]}}</td>
        <td>&nbsp;{{i[2]}}</td>
        <td>&nbsp;{{i[3]}}</td>
        <td><u><a href="/updateexpense?id={{i[0]}}" >Update</a></u></td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
</div>
</form>
</div>
                            </div>
                        </div>

{% endblock %}
